<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Playyn - Online Music Store</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="stylesheet" href="../static/css/mdb.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <style>
        body {
            font-family: 'Poppins', "sans-serif";
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">
        <div class="container-fluid">
            <div class="btn-group">
                <a href="{{ url_for('index') }}">
                    <button type="button"
                            class="btn btn-outline-light"
                    >
                        Dashboard
                    </button>
                </a>
                <button type="button"
                        class="btn btn-outline-light dropdown-toggle dropdown-toggle-split"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                >
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                        <a class="dropdown-item" href="{{ url_for('songs') }}">Browse all songs</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('albums') }}">Browse all albums</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{{ url_for('artists') }}">Browse all artists</a>
                    </li>
                </ul>
            </div>
            <div class="justify-content-center">
                <h2 class="text-white">Playyn</h2>
            </div>
            <div class="btn-group">
                {{ login_or_profile|safe }}
                <button type="button"
                        class="btn btn-outline-light dropdown-toggle dropdown-toggle-split"
                        data-mdb-toggle="dropdown"
                        aria-expanded="false"
                >
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                {{ sign_up_or_sign_out|safe }}
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h3 class="h3 m-4">Featured tracks</h3>
            </div>
        </div>
        <div class="row">
            {% for ft in featured_tracks %}
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="{{ ft.track_icon }}"
                             class="card-img-top"
                             alt="{{ (ft.track_title + ft.album_name + ft.band_name) | replace(" ", "") | lower }}"/>
                        <div class="card-body">
                            <div class="row">
                                <p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                    <strong>{{ ft.track_title }}</strong>
                                </p>
                            </div>
                            <div class="row">
                                <strong>{{ ft.album_name }} &bull; {{ ft.band_name }}</strong>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            {{ ft.track_release }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md">
                <h3 class="h3 m-4">Featured albums</h3>
            </div>
        </div>
        <div class="row">
            {% for fa in featured_albums %}
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <img src="{{ fa.album_icon }}"
                             class="card-img-top"
                             alt="{{ (fa.album_name + fa.band_name) | replace(" ", "") | lower }}"/>
                        <div class="card-body">
                            <div class="row">
                                <p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                    <strong>{{ fa.album_name }}</strong>
                                </p>
                            </div>
                            <div class="row">
                                <strong>{{ fa.band_name }}</strong>
                            </div>
                            <div class="row">
                                <strong>{{ fa.num_tracks|string + " tracks" }}</strong>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            {{ fa.album_release }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md">
                <h3 class="h3 m-4">Featured bands</h3>
            </div>
        </div>
        <div class="row">
            {% for fb in featured_bands %}
                <div class="col-md-2 mb-4">
                    <div class="card">
                        <div class="card-header bg-dark">
                            <div class="row">
                                <p style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                    <strong class="text-white">{{ fb.band_name }}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row mb-0">
                                {% set members = fb.band_members.split(',') %}
                                {% for m in members %}
                                    <strong  style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">{{ m }}</strong>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript" src="../static/js/mdb.min.js"></script>
<script src="https://kit.fontawesome.com/548a35821d.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
